<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group {{if errors.location "has-error"}}">
            <label for="helyszin" class="col-lg-2 control-label">Helyszín</label>
            <div class="col-lg-10">
                <input class="form-control" id="helyszin" name="helyszin" placeholder="pl. PC6, Lovarda, 2. emeleti folyosó..." type="text" value="{{data.location}}">
                <span class="help-block">{{errors.location}}</span>
            </div>
        </div>
        <div class="form-group {{if errors.description "has-error"}}">
            <label for="leiras" class="col-lg-2 control-label">Leírás</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="leiras" name="leiras">{{data.description}}</textarea>
                <span class="help-block">Meg kell adni a helyszínt, ha pedig konkrét géppel van probléma, akkor azt is.</span>
                <span class="help-block">{{errors.description}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button {{action "submit"}} class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>        